:root {
  --border: #e4e6e4;
  --red: #e04136;
  --visited: #74c745;
}
@keyframes visited_animation {
  0% {
    background-color: #f5f23a;
  }
  50% {
    background-color: #83e04d;
  }
  100% {
    background-color: var(--visited);
  }
}

@keyframes obstacle_animation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.node_,
.node_start,
.node_end,
.node_obstacle,
.node_visited,
.node_path {
  width: 28px;
  padding-top: 100%;
  border: 1px solid var(--border);
}

.node_ {
  background-color: transparent;
}

.node_start {
  background-color: var(--red);
}

.node_end {
  background-color: var(--red);
}

.node_obstacle {
  background-color: var(--border);
  animation-name: obstacle_animation;
  animation-duration: 250ms;
}

.node_visited {
  background-color: var(--visited);
  animation-name: visited_animation;
  animation-duration: 500ms;
}

.node_path {
  background-color: var(--red);
  animation-name: obstacle_animation;
  animation-duration: 250ms;
}

.node_,
.node_start,
.node_end:hover {
  cursor: pointer;
}
